<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:fragment="headerFragment">
	<meta charset="ISO-8859-1">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="/lib/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/site.css">  
</head>

<body>
<header th:fragment="header" id="header"></header>
<div th:fragment="menu" id="menu">
<nav class="navbar navbar-expand-sm navbar-light bg-white border-bottom box-shadow mb-3">
    <a class="navbar-brand" href="#" th:href="@{/}">Inventory</a>
      <div class="navbar-collapse">
          <ul class="navbar-nav flex-grow-1">
        <li class="nav-item">
          <a class="nav-link" href="#" th:href="@{/}">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#" th:href="@{/product/list}">Product</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#" th:href="@{/usage/list}">Case Records</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#" th:href="@{/stock/list}">Transaction History</a>
        </li>
      </ul>
      <ul class="navbar-nav ml-auto">	          
          <li class="nav-item">
            <a class="nav-link" href="#" th:href="@{/user/login}" th:if="${session.user==null}">Login</a>
            <a class="nav-link" href="#" th:href="@{/user/logout}" th:if="${session.user!=null}">Logout</a>
          </li>
      </ul>
    </div>
</nav>
</div>


</body>
</html>