/* student-added CSS */
.navbar-brand {
    border-color: lightgrey;
    border-style: solid;
    border-width: 1px;
    font-family: Consolas;
    text-align: center;
    padding: 5px;
}

.button {
    background-color: white;
    border-color: black;
    border-style: solid;
    border-width: 1px;
    text-align: center;
}

.err_msg {
    color: red;
    font-weight: bold;
    padding: 10px;
}

.btn {
	border-radius: .25rem;
    line-height: 1.2;
}
