<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:include="layout/layout.html :: headerFragment">
    <title>Welcome</title>
</head>

<body>
<header th:insert="layout/layout.html :: header"></header>
<div th:replace="layout/layout.html :: menu" ></div>

<div class="container">
    <main role="main" class="pb-3">
		<h3>Welcome</h3>
		<h3 th:unless="${session.user==null}" th:utext="'Hello '+ ${session.user.userName}">Hello</h3>
    </main>
</div>

</body>
</html>

