<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:include="layout/layout.html :: headerFragment">
    <title>Login</title>
</head>

<style>
td {
	padding: 7.5px;
}
</style>

<body>
<div th:replace="layout/layout.html :: menu" ></div>

<div class="container">
    <main role="main" class="pb-3">
		<h3>Login Form</h3>
		
		<form action="" th:object="${user}" th:action="@{/user/authenticate}" method="post">
			<table>
				<tr>
					<td>Name</td>
					<td><input type="text" th:field="*{userName}"><td/>
				</tr>
				<tr>
					<td>Password</td>
					<td><input type="password" th:field="*{password}"><td/>
				</tr>
				<tr><td colspan="2"><button type="submit" class="button" style="float: right;">Log In</button></td></tr>
			</table>	
		</form>
    </main>
</div>

</body>
</html>

