<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org/">
<head th:include="layout/layout.html :: headerFragment">
	<title>Products</title>
</head>

<body>
<div th:replace="layout/layout.html :: menu" ></div>

<div class="container">
    <main role="main" class="pb-3">
		<h2>Products</h2>
		<h5>The products sold or available for use in the car repair shop.</h5>
		
		<br>
		<form th:action="@{/product/list}" class="search">
			Filter: <input type="text" name="keyword" id="keyword" size="50" th:value="${keyword}" required /> &nbsp;
				<input type="submit" value="Search" /> &nbsp; 
				<input type="button" value="Clear" id="btnClear" onclick="clearSearch()" />
		</form>
		
		<div style="margin-top: 2%; margin-bottom: 2%; text-align: right;">
			<span class="btn btn-light"><a th:href="@{/product/add}">New Product</a></span>
		</div>
		
		<table class="table table-sm">
			<tr>
				<th>ID</th>
				<th>Name</th>
				<th style="width: 40%;">Description</th>
				<th>Category</th>
				<th>Retail Price</th>
				<th>Quantity</th>
				<th th:if="${hasPermission}"></th>
				<th th:if="${hasPermission}"></th>			
			</tr>
			<tr th:each="product:${products}">
				<td th:text="${product.id}">ID</td>
				<td th:text="${product.name}">ID</td>
				<td style="width: 40%;" th:text="${product.description}">ID</td>
				<td th:text="${product.category}">ID</td>
				<td th:text="${product.priceFRetail}">ID</td>
				<td th:text="${product.qty}">ID</td>
				<td th:if="${hasPermission}"><a th:href="@{/product/edit/}+${product.id}">Edit</a></td>
				<td th:if="${hasPermission}"><a th:href="@{/product/delete/}+${product.id}">Delete</a></td>
			</tr>
		</table>
    </main>
</div>

</body>
</html>