<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org/">
<head th:include="layout/layout.html :: headerFragment">
	<title>Products</title>
</head>

<body>
<header th:insert="layout/layout.html :: header"></header>
<div th:replace="layout/layout.html :: menu" ></div>

<div class="container">
    <main role="main" class="pb-3">
		<h3>Product Listing</h3>
		<form th:action="@{/product/list}" class="search">
			Filter: <input type="text" name="keyword" id="keyword" size="50" th:value="${keyword}" required /> &nbsp;
				<input type="submit" value="Search" /> &nbsp; 
				<input type="button" value="Clear" id="btnClear" onclick="clearSearch()" />
		</form>
		<table class="table table-sm">
			<tr>
				<th>ID</th>
				<th>Name</th>
				<th>Description</th>
				<th>Category</th>
				<th>Retail Price</th>
				<th>Quantity</th>
				<th th:if="${hasPermission}">Edit Link</th>
				<th th:if="${hasPermission}">Delete Link</th>			
			</tr>
			<tr th:each="product:${products}">
				<td th:text="${product.id}">ID</td>
				<td th:text="${product.name}">ID</td>
				<td th:text="${product.description}">ID</td>
				<td th:text="${product.category}">ID</td>
				<td th:text="${product.priceFRetail}">ID</td>
				<td th:text="${product.qty}">ID</td>
				<td th:if="${hasPermission}"><a href="EditProduct.html" th:href="@{/product/edit/}+${product.id}" th:utext="#{products.page.edit}">Edit</a></td>
				<td th:if="${hasPermission}"><a href="DeleteProduct.html" th:href="@{/product/delete/}+${product.id}" th:utext="#{products.page.delete}">Delete</a></td>
			</tr>
		</table>
    </main>
</div>

<div th:replace="layout/layout.html :: footer"></div>
</body>
</html>