<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:include="layout/layout.html :: headerFragment">
	<title>UsageRecords List</title>
</head>
<body>
<header th:insert="layout/layout.html :: header"></header>
<div th:replace="layout/layout.html :: menu" ></div>

<div class="container">
    <main role="main" class="pb-3">
   	    <h2>Case Records</h2>
   	    <h5>The repair cases taken on by the car repair shop. <br>
   	    	Annotate some stock transaction records with the reason the items were used.</h5>
   	    				 
	    <a href="AddUsageRecord.html" th:href="@{/usage/add}">New UsageRecord</a>

	    <table class="table table-sm">
	        <tr >
	            <th>Id</th>
	            <th>Customer Name</th>
	            <th>CarPlate Number</th>
	            <th>Datetime Created</th>
				<th></th>
				<th></th>
				<th></th>
	
	        </tr>
	        <tr th:each="usagerecord:${usage}" >
	            <td th:text=${usagerecord.id}>Id</td>
	            <td th:text="${usagerecord.customerName}">Customer Name</td>
	            <td th:text=${usagerecord.carPlate}>Number</td>
	            <td th:text=${usagerecord.date}>Datetime Created</td>
				<td><a th:href="@{/usage/edit/}+${usagerecord.id}">Edit</a></td>
				<td><a th:href="@{/usage/delete/}+${usagerecord.id}">Delete</a></td>
	        </tr>
	    </table>
    </main>
</div>

<div th:replace="layout/layout.html :: footer"></div>    
</body>
</html>