<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:include="layout/layout.html :: headerFragment">
	<title>Stock Transaction Form</title>
</head>

<body>
<header th:insert="layout/layout.html :: header"></header>
<div th:replace="layout/layout.html :: menu" ></div>

<div class="container">
    <main role="main" class="pb-3">
		<h3>Stock Transaction Form</h3>
		
		<form action="#" th:object="${txn}" th:action="@{/stock/save}" method="post">
			<table class="table table-sm">
			<tr>
			<td>
			<fieldset>
				<input type="hidden" th:field="*{id}">
				<input type="hidden" th:field="*{type}">
				<input type="hidden" th:field="*{annotation}">
				<input type="hidden" th:field="*{prev_val}">
			</fieldset>
			</td>
			</tr>
			
			<tr>
			<td>UsageRecord Id</td>
			<td>
			<fieldset>
				<input th:if="*{type == 'use'}" th:field="*{usageRecord.Id}">
			</fieldset>
			</td>
			</tr>
			
			<tr>
			<td>ProductId</td> 
			<td>
			<fieldset>
				
				<textarea  th:field="*{product.Id}" cols="30" rows="1" ></textarea>
				<p th:if="${#fields.hasErrors('product.Id')}" th:errors="*{product.Id}"></p>
			</fieldset>
			<td>
			<tr>
			
			
			<tr>
			<td>qtyChange</td> 
			<td>
			<fieldset>
	
				<textarea th:field="*{qtyChange}" cols="30" rows="1"></textarea>
				<p th:if="${#fields.hasErrors('qtyChange')}"
					th:errors="*{qtyChange}"></p>
			</fieldset>
			<td>
			<tr>
			
			<tr>
			<td></td>
			<td>
			<fieldset>
				<input type="submit" value="Save"/>
	
				<input type="reset" value="Reset"/>
			</fieldset>
			</td>
			<tr>
						
			</table>
		</form>
    </main>
</div>
		
<div th:replace="layout/layout.html :: footer"></div>	
</body>
</html>