<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:include="layout/layout.html :: headerFragment">
	<title>Stock Transaction Form</title>
</head>

<style>
td {
	padding: 7.5px;
}
</style>

<body>
<div th:replace="layout/layout.html :: menu" ></div>

<div class="container">
    <main role="main" class="pb-3">
		<h3>Stock Transaction Form</h3>
		
		<form action="#" th:object="${txn}" th:action="@{/stock/save}" method="post">
			<table>
			<tr>
			<td style="border: 0px;">
				<input type="hidden" th:field="*{id}">
				<input type="hidden" th:field="*{type}">
				<input type="hidden" th:field="*{annotation}">
				<input type="hidden" th:field="*{prev_val}">
			</td>
			</tr>
			
			<tr>
			<td th:if="*{type == 'use'}">Case Record ID</td>
			<td>
				<input th:if="*{type == 'use'}" th:field="*{usageRecord.Id}">
			</td>
			</tr>
			
			<tr>
			<td>Product ID</td> 
			<td>
				<input th:field="*{product.Id}">
				<p th:if="${#fields.hasErrors('product.Id')}" th:errors="*{product.Id}"></p>
			<td>
			<tr>
			
			
			<tr>
			<td>Change In Quantity</td> 
			<td>
				<input th:field="*{qtyChange}">
				<p th:if="${#fields.hasErrors('qtyChange')}" th:errors="*{qtyChange}"></p>
			<td>
			<tr>
			
			<tr>
			<td>Type</td>
				<td th:if="${txn.type.equals('restock')}" class="btn btn-success" th:text=${txn.type}>Type</td>
				<td th:if="${txn.type.equals('use')}" class="btn btn-warning" th:text=${txn.type}>Type</td>
				<td th:if="${txn.type.equals('return')}" class="btn btn-danger" th:text=${txn.type}>Type</td>
			</tr>
			
			<tr>
			<td></td>
			<td>
				<input type="submit" class="button" style="float: right;" value="Save"/>
			</td>
			<tr>
						
			</table>
		</form>
    </main>
</div>
		
</body>
</html>