<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:include="layout/layout.html :: headerFragment">
	<title>Suppliers List</title>
</head>

<body>
<header th:insert="layout/layout.html :: header"></header>
<div th:replace="layout/layout.html :: menu" ></div>

<div class="container">
    <main role="main" class="pb-3">
   		<h2>Stock Transaction History</h2>
   		<h5>The series of changes in made to product quantities.</h5>
	
		<div style="margin-top: 2%; margin-bottom: 2%; text-align: right;">
			<span class="btn btn-light"><a th:href="@{/stock/add-restock}">New Restock Entry</a></span>
			<span class="btn btn-light"><a th:href="@{/stock/add-restock}">New Usage Entry</a></span>
			<span class="btn btn-light"><a th:href="@{/stock/add-restock}">New Return Entry</a></span>
		</div>
		
		<table class="table table-sm">
			<tr >
				<th>Id</th>
				<th>Datetime Created</th>
				<th>Username</th>
				<th>Product Name</th>
				<th>Change In Quantity</th>
				<th>Type</th>
				<th></th>
				<th></th>
			</tr>
			<tr th:each="txn:${txns}" >
				<td th:text=${txn.id}>Id</td>
				<td th:text=${txn.getDate()}>Datetime Created</td>
				<td th:text=${txn.getUserName()}>Username</td>
				<td th:text=${txn.product.getName()}>Product Name</td>
				<td th:text=${txn.qtyChange}>Change In Quantity</td>
				<td th:if="${txn.type.equals('restock')}" class="btn btn-success" th:text=${txn.type}>Type</td>
				<td th:if="${txn.type.equals('use')}" class="btn btn-warning" th:text=${txn.type}>Type</td>
				<td th:if="${txn.type.equals('return')}" class="btn btn-danger" th:text=${txn.type}>Type</td>
				<td><a th:href="@{/stock/edit/}+${txn.id}">Edit</a></td>
				<td><a th:href="@{/stock/delete/}+${txn.id}">Delete</a></td>
			</tr>
		</table>
    </main>
</div>
	
<div th:replace="layout/layout.html :: footer"></div>	
</body>
</html>