<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:include="layout/layout.html :: headerFragment">
	<title>UsageRecords List</title>
</head>
<body>
<header th:insert="layout/layout.html :: header"></header>
<div th:replace="layout/layout.html :: menu" ></div>

<div class="container">
    <main role="main" class="pb-3">
	    <h3>UsageRecords List</h3>
	    <a href="AddUsageRecord.html" th:href="@{/usage/add}">New UsageRecord</a>
	
	    <h2>UsageRecords List</h2>
	    <table class="table table-sm">
	        <tr >
	            <th>UsageRecord Id</th>
	            <th>UsageRecord CustomerName</th>
	            <th>UsageRecord CarPlate</th>
	            <th>UsageRecord Date</th>
				<th></th>
				<th></th>
				<th></th>
	
	        </tr>
	        <tr th:each="usagerecord:${usage}" >
	            <td th:text=${usagerecord.id}>Id</td>
	            <td th:text="${usagerecord.customerName}">UsageRecord CustomerName</td>
	            <td th:text=${usagerecord.carPlate}>UsageRecord CarPlate</td>
	            <td th:text=${usagerecord.date}>UsageRecord Date</td>
				<td><a th:href="@{/usage/edit/}+${usagerecord.id}">Edit</a></td>
				<td><a th:href="@{/usage/delete/}+${usagerecord.id}">Delete</a></td>
	        </tr>
	    </table>
    </main>
</div>

<div th:replace="layout/layout.html :: footer"></div>    
</body>
</html>