<html xmlns:th="http://www.thymeleaf.org">
<head th:include="layout/layout.html :: headerFragment">
	<title>Stock Usage Form</title>
</head>

<style>
form td {
	padding: 7.5px;
}
</style>

<body>
<header th:insert="layout/layout.html :: header"></header>
<div th:replace="layout/layout.html :: menu" ></div>

<div class="container">
    <main role="main" class="pb-3">
		<h3>Case Record Form</h3>
		
		<form action="#" th:object="${usage}" th:action="@{/usage/save}" method="post">
			<table>
			<tr>
			<td>
				<input type="hidden" th:field="*{id}">
			</td>
			</tr>
			
			<tr>
			<td>Customer Name</td>
			<td>
				 <input type ="text" th:field="*{customerName}"/>
				 <p th:if="${#fields.hasErrors('customerName')}" th:errors="*{customerName}">
			</td>
			</tr>
			
			<tr>
			<td>Car Plate Number</td>
			<td>
				 <input type ="text" th:field="*{carPlate}">
				 <p th:if="${#fields.hasErrors('customerName')}" th:errors="*{customerName}">
			</td>
			</tr>
			
			<tr>
			<td>Date</td>
			<td>
				 <input type="text" th:field="*{date}" placeholder="dd-MM-yyyy" />
				 <p th:if="${#fields.hasErrors('date')}" th:errors="*{date}">
			</td>
			</tr>
			
			<tr>
			<td>Comments:</td>
			<td>
				<textarea name="comments" th:text="*{comments}"></textarea>
				<p th:if="${#fields.hasErrors('comments')}" th:errors="*{comments}">
			</td>
			</tr>
			
			<tr>
			<td></td>
			<td>
				<input type="submit" class="button" style="float: right;" value="Save"/>
			</td>
			</tr>
			</table>
		</form>
		
		<div style="margin-top: 2%; margin-bottom: 2%; text-align: right;">
			<span class="btn btn-light"><a th:href="@{/stock/add-}+${usage.id}">New Usage Entry (for this record)</a></span>
		</div>
			<table class="table table-sm">
				<tr >
					<th>Id</th>
					<th>Datetime Created</th>
					<th>Username</th>
					<th>Product Name</th>
					<th>Change In Quantity</th>
					<th>Type</th>
					<th></th>
				</tr>
				<tr th:each="txn:${usage.stockTranxList}" >
				<td th:text=${txn.id}>Id</td>
				<td th:text=${txn.getDate()}>Datetime Created</td>
				<td th:text=${txn.getUserName()}>Username</td>
				<td th:text=${txn.product.getName()}>Product Name</td>
				<td th:text=${txn.qtyChange}>Change In Quantity</td>
				<td th:if="${txn.txntype == T(team5.model.TxnType).USE}" class="btn btn-danger" th:text=${txn.txntype}>Type</td>
				<td><a th:href="@{/stock/edit/}+${txn.id}">Edit</a></td>
				<td><a th:href="@{/stock/delete/}+${txn.id}">Delete</a></td>
				</tr>
			</table>
    </main>
</div>

</body>
</html>